@{
    var culture = CultureInfo.CurrentCulture.Name;
}
@inject Microsoft.Extensions.Configuration.IConfiguration Configuration;
<!DOCTYPE html>
<html lang="en" class="light-style layout-navbar-fixed layout-menu-fixed layout-compact" data-assets-path="/admin/assets/" data-style="light" dir="ltr"
      data-theme="theme-default">
<head>
    <meta charset="utf-8" />
    <title data-i18n="@ViewData["Title"]"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="robots" content="index,follow">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <meta name="description" content="Admin HKProject. Contact us: tadlhvuongproject@gmail.com" />
    <meta name="revisit-after" content="1 days" />
    <meta name="google" content=”nositelinkssearchbox” />
    <meta property="og:locale" content="@CultureInfo.CurrentCulture.Name" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="@ViewData["Title"]"/>
    <meta property="og:description" content="@ViewData["Description"]" />
    <meta property="og:image" content="@ViewData["Image"]" />
    <meta property="og:url" content="@ViewData["Url"]" />
    <meta property="og:site_name" content="@ViewData["Name"]" />

    <link rel="icon" type="image/x-icon" href="~/favicon.ico" />

    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&ampdisplay=swap"
          rel="stylesheet" />

    <!-- Icons -->
    <link rel="stylesheet" href="~/admin/assets/vendor/fonts/fontawesome.css" />
    <link rel="stylesheet" href="~/admin/assets/vendor/fonts/tabler-icons.css" />
    <link rel="stylesheet" href="~/admin/assets/vendor/fonts/flag-icons.css" />

    <!-- Core CSS -->

    <link rel="stylesheet" href="~/admin/assets/vendor/css/rtl/core.css" />
    <link rel="stylesheet" href="~/admin/assets/vendor/css/rtl/theme-default.css" />

    <link rel="stylesheet" href="~/admin/assets/css/demo.css" />

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="~/admin/assets/vendor/libs/node-waves/node-waves.css" />

    <link rel="stylesheet" href="~/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.css" />
    <link rel="stylesheet" href="~/admin/assets/vendor/libs/typeahead-js/typeahead.css" />
    <link rel="stylesheet" href="~/admin/assets/vendor/libs/apex-charts/apex-charts.css" />
    <link rel="stylesheet" href="~/admin/assets/vendor/libs/datatables-bs5/buttons.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/admin/assets/vendor/libs/datatables-bs5/responsive.bootstrap5.min.css" />
    <link rel="stylesheet" href="~/admin/assets/vendor/libs/datatables-bs5/buttons.bootstrap5.min.css" />

    <link rel="stylesheet" href="~/admin/assets/vendor/libs/select2/select2.min.css" />
    <link rel="stylesheet" href="~/admin/assets/vendor/libs/form-validation/form-validation.min.css" />
    <!-- Page CSS -->
    <!-- Helpers -->
    <script src="~/admin/assets/vendor/js/helpers.js"></script>
    <!--! Template customizer & Theme config files MUST be included after core stylesheets and helpers.js in the <head> section -->
    <!--? Config:  Mandatory theme config file contain global vars & default theme options, Set your preferred theme option in this file.  -->
    <script src="~/admin/assets/js/config.js"></script>
    @RenderSection("Styles", false)
</head>
<body>
    @* <partial name="_AdminModal" />
    <input type="hidden" id="hideCulture" value="@culture" />
    <div class="wrapper">
        <partial name="_Preload">
            <partial name="_Navbar">
                <partial name="_Sidebar">
                    @RenderBody()
                    <partial name="_Footer" >
    </div> *@
    <div class="layout-wrapper layout-content-navbar">
        <div class="layout-container">

            <!-- Menu -->
            <partial name="_SideBar" />
            <!-- / Menu -->

            <div class="layout-page">

                <!-- Navbar -->
                <partial name="_Navbar" />
                <!-- / Navbar -->

                <!-- Content -->
                <div class="content-wrapper">
                    @RenderBody()

                    <!-- Footer -->
                    <partial name="_Footer" />
                    <!-- / Footer -->

                    <div class="content-backdrop fade"></div>
                </div>
                <!-- / Content -->
            </div>
        </div>

        <!-- Overlay -->
        <div class="layout-overlay layout-menu-toggle"></div>

        <!-- Drag Target Area To SlideIn Menu On Small Screens -->
        <div class="drag-target"></div>
    </div>
    <script src="~/admin/assets/vendor/libs/jquery/jquery.min.js"></script>
    <script src="~/admin/assets/vendor/libs/datatables-bs5/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/htmx.org@2.0.7"></script>
    <script src="~/admin/assets/vendor/libs/datatables-bs5/dataTables.min.js"></script>
    <script src="~/admin/assets/vendor/libs/datatables-bs5/datatables-bootstrap5.min.js"></script>
    <script src="~/admin/assets/vendor/libs/datatables-bs5/dataTables.responsive.min.js"></script>
    <script src="~/admin/assets/vendor/libs/datatables-bs5/responsive.bootstrap5.min.js"></script>
    <script src="~/admin/assets/vendor/libs/datatables-bs5/dataTables.buttons.min.js"></script>
    <script src="~/admin/assets/vendor/libs/datatables-bs5/buttons.bootstrap5.min.js"></script>
    <script src="~/admin/assets/vendor/libs/datatables-bs5/buttons.print.min.js"></script>

    <script src="~/admin/assets/vendor/libs/popper/popper.js"></script>
    <script src="~/admin/assets/vendor/libs/node-waves/node-waves.min.js"></script>
    <script src="~/admin/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/admin/assets/vendor/libs/hammer/hammer.min.js"></script>
    @* <script src="~/admin/assets/vendor/libs/i18n/i18n.js"></script> *@
    @* <script src="https://cdn.jsdelivr.net/npm/i18n@0.15.3/index.min.js"></script> *@
    <script src="~/admin/assets/vendor/libs/i18n/i18next.min.js"></script>
    <script src="~/admin/assets//vendor/libs/i18n/i18nextHttpBackend.min.js"></script>
    <script src="~/admin/assets/vendor/libs/typeahead-js/typeahead.bundle.min.js"></script>
    <script src="~/admin/assets/vendor/js/menu.js"></script>

    <script src="~/admin/assets/vendor/libs/moment/moment.min.js"></script>
    <script src="~/admin/assets/vendor/libs/select2/select2.min.js"></script>
    <script src="~/admin/assets/vendor/libs/form-validation/form-validation.min.js"></script>
    @* <script src="~/admin/assets/vendor/libs/form-validation/popular.js"></script>
    <script src="~/admin/assets/vendor/libs/form-validation/bootstrap5.min.js"></script>
    <script src="~/admin/assets/vendor/libs/form-validation/auto-focus.min.js"></script> *@
    <script src="~/admin/assets/vendor/libs/cleavejs/cleave.min.js"></script>
    <script src="~/admin/assets/vendor/libs/cleavejs/cleave-phone.i18n.js"></script>
    <!-- endbuild -->
    <!-- Vendors JS -->
    <script src="~/admin/assets/vendor/libs/apex-charts/apexcharts.min.js"></script>
    <!-- Main JS -->
    <script src="~/admin/assets/js/main.js"></script>

    <!-- Page JS -->
    @RenderSection("Scripts", false)
</body>
</html>
