@* @using Shared.Common

@{
    var culture = CultureInfo.CurrentCulture.Name;
    var avatar = string.IsNullOrEmpty(Common.GetUserAvatar(this.User)) ? "/img/default-avatar-male.webp" : Common.GetUserAvatar(this.User);
}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/admin/@culture" class="brand-link">
        <img src="~/img/hk_logo.png" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-light">Admin HKProject</span>
    </a>
    <div class="sidebar">
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="@avatar" class="img-circle elevation-2" alt="Avatar User @User.Identity.Name">
            </div>
            <div class="info">
                <a title="@User.Identity.Name" href="/admin/Member/Details/@User.GetUserId()" class="d-block">@User.Identity.Name</a>
            </div>
            <div class="info pull-right">
                <a title="vi-VN" href="/admin/@culture/base/set-language?cltr=vi&returnUrl=@Context.Request.Path"><span class="flag-icon flag-icon-vn @(culture.Equals("vi") ? "overlay" : "")" alt="icon flag vi-VN"></span></a>
                <a title="en-US" href="/admin/@culture/base/set-language?cltr=en&returnUrl=@Context.Request.Path"><span class="flag-icon flag-icon-us @(culture.Equals("en") ?  "overlay" : "")" alt="icon flag en-US"></span></a>
            </div>
        </div>
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="@ViewData["SearchMenuSidebar"]" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar" localize-att-title="SearchSidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu" data-accordion="false">
                <li class="nav-item">
                    <a href="/admin/@culture" localize-att-title="Dashboard" class="nav-link @(Html.IsActive("Home") ? "active" : "")">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            <localize>Dashboard</localize>
                        </p>
                        <span class="badge badge-info right">2</span>
                    </a>
                </li>
                <li class="nav-item @(Html.IsActive("Member") ? "menu-open" : "")">
                    <a href="" localize-att-title="MemberSidebar" class="nav-link @(Html.IsActive("Member") ? "active" : "")">
                        <i class="nav-icon fas fa-users"></i>
                        <p>
                            <localize>MemberText</localize>
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/@culture/@_localizer["MemberUrl"]" class="nav-link @(Html.IsActive("Member", "Index") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p><localize>ListMember</localize></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/@culture/@_localizer["MemberUrl"]/@_localizer.GetLocalizedString("DetailsUrl")/@User.GetUserId()" class="nav-link @(Html.IsActive("Member", "Edit") ? "active" : "") @(Html.IsActive("Member", "Details") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p><localize>ViewText</localize></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/@culture/@_localizer["MemberUrl"]/@_localizer["RolesUrl"]" class="nav-link @(Html.IsActive("Member", "Roles") ? "active" : "") @(Html.IsActive("Member", "Roles") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p><localize>RoleNameText</localize></p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="/admin/@culture/@_localizer.GetLocalizedString("ChatUrl")" localize-att-title="Chat" class="nav-link @(Html.IsActive("Chat") ? "active" : "")">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            <localize>ChatText</localize>
                        </p>
                        <span class="badge badge-info right">2</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="/admin/@culture/@_localizer.GetLocalizedString("CalendarUrl")" class="nav-link @(Html.IsActive("Calendar") ? "active" : "")">
                        <i class="nav-icon fas fa-calendar-alt"></i>
                        <p>
                            <localize>Calendar</localize>
                            <span class="badge badge-info right">2</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item @(Html.IsActive("Media") ? "menu-open" : "")">
                    <a href="" class="nav-link @(Html.IsActive("Media") ? "active" : "")">
                        <i class="nav-icon far fa-image"></i>
                        <p>
                            <localize>GalleryText</localize>
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/@culture/@_localizer.GetLocalizedString("MediaUrl")/@_localizer.GetLocalizedString("FileManagerUrl")" class="nav-link @(Html.IsActive("Media", "FileManager") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p >GeneralAlbumText</p>
                            </a>
                        </li>
                        @if(User.IsInRole("Admin") || User.IsInRole("Manager"))
                        {
                            <li class="nav-item">
                                <a href="/admin/@culture/@_localizer.GetLocalizedString("MediaUrl")/@_localizer.GetLocalizedString("AlbumListUrl")" class="nav-link @(Html.IsActive("Media", "AlbumList") ? "active" : "")">
                                    <i class="far fa-circle nav-icon"></i>
                                    <p>Album</p>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                <li class="nav-item @(Html.IsActive("Product") ? "menu-open" : "")">
                    <a href="" class="nav-link @(Html.IsActive("Product") ? "active" : "")">
                        <i class="nav-icon fas fa-shopping-cart"></i>
                        <p>
                            <localize>ProductText</localize>
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/@culture/@_localizer.GetLocalizedString("ProductUrl")" class="nav-link @(Html.IsActive("Product", "Index") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p><localize>ProductListText</localize></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/@culture/@_localizer.GetLocalizedString("ProductUrl")/@_localizer.GetLocalizedString("EditUrl")" class="nav-link @(Html.IsActive("Product", "Edit") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p><localize>EditText</localize></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/@culture/@_localizer.GetLocalizedString("ProductUrl")/@_localizer.GetLocalizedString("CategoryUrl")" class="nav-link @(Html.IsActive("Product", "Category") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p><localize>CategoryText</localize></p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item @(Html.IsActive("Order") ? "menu-open" : "")">
                    <a href="#" class="nav-link @(Html.IsActive("Order") ? "active" : "")">
                        <i class="nav-icon fas fa-shopping-cart"></i>
                        <p>
                            <localize>OrderText</localize>
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/@culture/@_localizer.GetLocalizedString("OrderUrl")" class="nav-link @(Html.IsActive("Order", "Index") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p><localize>ListText</localize></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/@culture/@_localizer.GetLocalizedString("OrderUrl")/@_localizer.GetLocalizedString("OrderCreateUrl")" class="nav-link @(Html.IsActive("Order", "Create") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p><localize>CreateText</localize></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/@culture/@_localizer.GetLocalizedString("OrderUrl")/@_localizer.GetLocalizedString("EditUrl")" class="nav-link @(Html.IsActive("Order", "Edit") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p><localize>EditText</localize></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/@culture/@_localizer.GetLocalizedString("OrderUrl")/Shipping" class="nav-link @(Html.IsActive("Order", "Shipping") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p><localize>Shipping</localize></p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item @(Html.IsActive("Setting") ? "menu-open" : "")">
                    <a href="#" class="nav-link @(Html.IsActive("Setting") ? "active" : "")">
                        <i class="nav-icon fas fa-shopping-cart"></i>
                        <p>
                            <localize>Setting</localize>
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/admin/@culture/@_localizer.GetLocalizedString("SettingUrl")/@_localizer.GetLocalizedString("GeneralUrl")" class="nav-link @(Html.IsActive("Setting", "General") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p><localize>GeneralText</localize></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/@culture/@_localizer.GetLocalizedString("SettingUrl")/payment" class="nav-link @(Html.IsActive("Setting", "Payment") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p><localize>PaymentText</localize></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/@culture/@_localizer.GetLocalizedString("SettingUrl")/checkout" class="nav-link @(Html.IsActive("Setting", "Checkout") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p><localize>CheckoutText</localize></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/@culture/@_localizer.GetLocalizedString("SettingUrl")/@_localizer.GetLocalizedString("DeliveryUrl")" class="nav-link @(Html.IsActive("Setting", "Delivery") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p><localize>DeliveryText</localize></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/@culture/@_localizer.GetLocalizedString("SettingUrl")/@_localizer.GetLocalizedString("LocationUrl")" class="nav-link @(Html.IsActive("Setting", "Location") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p><localize>LocationText</localize></p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/admin/@culture/@_localizer.GetLocalizedString("SettingUrl")/@_localizer.GetLocalizedString("NotificationUrl")" class="nav-link @(Html.IsActive("Setting", "Notification") ? "active" : "")">
                                <i class="far fa-circle nav-icon"></i>
                                <p><localize>NotificationText</localize></p>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a href="pages/kanban.html" class="nav-link">
                        <i class="nav-icon fas fa-columns"></i>
                        <p>
                            Kanban Board
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">
                        <i class="nav-icon far fa-envelope"></i>
                        <p>
                            Mailbox
                            <i class="fas fa-angle-left right"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="pages/mailbox/mailbox.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Inbox</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/mailbox/compose.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Compose</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="pages/mailbox/read-mail.html" class="nav-link">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Read</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside> *@